.breadcrumb {
    font-size: 80%;
    margin-left: 1em;
    height: 12px;
}

#viewing-mode-header {
    border: 1px solid darkgray;
    background: #555555;
    padding: 1em;
    font-size: 80%;
    color: #FFFFFF;
    margin-bottom: 1.25em;
}

#viewing-mode-label {
    display: inline-block;
}
